<link rel="stylesheet" href="../../assets/cube.css">
<style>
  .cube-container {
  position: absolute;
}

.cube-container:nth-child(2) {
  left: 300px;
}

.cube-container:nth-child(3) {
  left: 600px;
}

.cube-container:nth-child(4) {
  top: 300px;
  left: 200px;
}

.cube-container:nth-child(5) {
  top: 300px;
  left: 400px;
}

.home-container {
  position: absolute;
}

</style>
<div class="home-container">
  <% @articles.each do |article| %>
    <div class="cube-container">
    <div class="cube toFront">
      <a href="/articles/<%= article.id %>"><div class="face top"><%= image_tag article.picture_link %></div></a>
      <a href="/articles/<%= article.id %>"><div class="face front"><%= image_tag article.picture_link %></div></a>
      <a href="/articles/<%= article.id %>"><div class="face bottom"><%= image_tag article.picture_link %></div></a>
      <a href="/articles/<%= article.id %>"><div class="face left"><%= image_tag article.picture_link %></div></a>
      <a href="/articles/<%= article.id %>"><div class="face right"><%= image_tag article.picture_link %></div></a>
      <a href="/articles/<%= article.id %>"><div class="face rear"><%= image_tag article.picture_link %></div></a>
    </div>
  </div>
  <% end %>
</div>