<div class="nav">
  <div class="links">
    <% num = 1 %>
    <% @articles.sort.each do |article| %>
    <a href="/articles/<%= article.id %>"><%= num %></a>
    <% num += 1 %>
    <% end %>
  </div>
  <div class="title">
    <div class="glitch" data-text="MAENADS">
      MAENADS
    </div>
  </div>
</div>
<% num2 = 0 %>
<% @articles.each do |article| %>
<% directive = num2 % 2 == 0 ? "enter left" : "enter right" %>
  <div data-sr="<%= directive %>" class="image">
    <img src="<%= article.picture_link %>"   alt="">
  <div class="info-link">
    <span class="info-text">
      <a href="/articles/<%= article.id  %>"><%= article.title %> --></a>
    </span>
  </div>
</div>
<% num2 += 1 %>
<% end %>
