  <% if session[:admin] %>
<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @issue.number %>
</p>

<p>
  <b>Issue date:</b>
  <%= @issue.issue_date %>
</p>

<p>
  <b>Theme:</b>
  <%= @issue.theme %>
</p>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
  <% end %>
