<link rel="stylesheet" href="../../assets/cube.css">


<div class="article-title"><%= @article.title %></div>
<div class="article-author"><%= @article.author %> <span class="article-date"> <%= @article.article_date %></span></div>

<div class="cube-container" style="position:relative;margin:0 auto;padding:40px;">
  <div class="cube toFront">
    <div class="face top"><%= image_tag @article.picture_link %></div>
    <div class="face front"><%= image_tag @article.picture_link %></div>
    <div class="face bottom"><%= image_tag @article.picture_link %></div>
    <div class="face left"><%= image_tag @article.picture_link %></div>
    <div class="face right"><%= image_tag @article.picture_link %></div>
    <div class="face rear"><%= image_tag @article.picture_link %></div>
  </div>
</div>

<div class="article-body">

  <%= @article.body.html_safe %>
</div>
