<p id="notice"><%= notice %></p>

<p>
  <b>Picture link:</b>
  <%= @article.picture_link %>
</p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Author:</b>
  <%= @article.author %>
</p>

<p>
  <b>Issue:</b>
  <%= @article.issue_id %>
</p>

<p>
  <b>Body:</b>
  <%= @article.body %>
</p>

<p>
  <b>Article date:</b>
  <%= @article.article_date %>
</p>
